@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fly {
  0%{
    left: 0;
    opacity: 1;
  }
  99%{
    opacity: 1;
    left: 100vw;
  }
  100%{
    left: 80vw;
    opacity: 0;
    height: 0;
    width: 0;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  99%{
    opacity: 0;
    height: 100vh;
    width: 100vw;
  }
  100% {
    display: none;
    height: 0;
    width: 0;
    opacity: 0;
  }
}