body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-grey;
  font-size: $default-font-size;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;


  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: fadeInLeft 1s 1s ease-out backwards;
    margin-left: 1.5rem;

    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    animation: fadeInRight 1s 1s ease-out backwards;

    @include responsive(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $blue-lighter, $blue-darker);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .3s;

  &--white{
    background-image: none;
    color:white;
  }

  @include responsive(tab-port) {
    font-size: 3rem;
  }

  @include responsive(phone) {
    font-size: 2.5rem;
  }

  &:hover{
    transform: translateY(-5px);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-third {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-contact {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  color:white;
  display: inline-block;
  letter-spacing: .2rem;
  transition: all .3s;

  @include responsive(tab-port) {
    display: block;
    font-size: 2rem;
    color:$blue;
    padding-bottom: 1rem;

  }
}
