//COLORS
$green-lighter: #7ed56f;
$green: #55c57a;
$green-darker: #28b485;

$orange-lighter: #ffb900;
$orange: #fc7b10;
$orange-darker: #ff7730;

$blue-lighter: #1e63b8;
$blue: #2f5392;
$blue-darker: #013d63;

$color-black: black;
$color-white: white;

$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$gray-lighter: #6e6e6e;
$gray: #4f4f50;
$gray-darker: #434444;

$black-lighter: #222222;
$black: #141414;
$black-darker: #000000;

$red-lighter: #cb0712;
$red: #a2040d;
$red-darker: #790207;

//GRID
$grid-width: 115rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//FONT
$default-font-size: 1.6rem;

//SKEW
$main-skew: 6deg;